.DataTable{
    width: 100%;
    overflow: auto;
}

table{
    border-collapse: collapse;
    margin: 0 auto; /* Align table within a div */
}

table th{
    font-size: calc(10px + 1.1vmin);
    font-weight: 100;
    color: rgb(172, 172, 172);
    padding: 0 30px 0 30px; /* Very hacky */
}

.Date-topup-withdraw{
    /* color: lime; */
    padding: 0 30px 0 30px; /* Very hacky */
}

/* For Mobile */
@media only screen and (max-width: 768px) {
    tbody td{
        font-size: 10px;
        padding: 0 12px 0 12px;
        border: 1px solid rgb(30, 30, 30);
    }
}

/* For Desktop */
@media only screen and (min-width: 768px) {
    tbody td{
        padding: 0 20px 0 20px;
        border: 1px solid rgb(30, 30, 30);
    }
}

.Topup{
    color: yellow;
}

.Buy{
    color: lime;
}

.Sell{
    color: rgb(255, 111, 154);
}

.Withdraw{
    color: cyan;
}

.Dividend{
    color: dodgerblue;
}

.Fee{
    color: red;
}

.FX{
    color: rgb(255, 205, 129);
}

.OpenNotes{
    border: 1px solid rgb(50, 50, 50);
}

.OpenNotes:hover{
    cursor: pointer;
    color: white;
    border: 1px solid rgb(255, 36, 102);
}
