.DataTable{
    width: 100%;
    overflow: auto;
}

table{
    border-collapse: collapse;
    margin: 0 auto; /* Align table within a div */

    overflow-x: scroll
}

table th{
    white-space: nowrap;
    border-bottom: 1px solid rgb(30, 30, 30);
    color: rgb(172, 172, 172);
}

tbody td{
    white-space: nowrap;
    border-bottom: 1px solid rgb(30, 30, 30);
}

table tr:hover{
    color:white;
    background-color: rgb(32, 32, 32);
}

.holdings-gains-dollars{
    color: rgb(116, 255, 162);
}

/* For Mobile */
@media only screen and (max-width: 768px) {
    tbody td{
        font-size: 10px;
    }

    .holdings-table-headers{
        background-color: rgba(32, 32, 32, 0.699);
    }

    .holdings-table-headers th{
        font-weight: bold;
        font-size: 10px;
        transform: scale(0.6);
    }

    .holdings-distribution{
        transform: scale(0.7);
    }

    .holdings-distribution-wrapper{
        padding: 0 8px 0 8px;
        background-color: rgb(56, 56, 56);
        border-radius: 8px;
    }
    
    .holdings-percentOfGains{
        transform: scale(0.7);
    }

    .holdings-percentOfGains-wrapper{
        padding: 0 8px 0 8px;
        background-color: rgba(116, 255, 162, 0.692);
        border-radius: 8px;
        color: rgb(255, 255, 255);
    }

    .holdings-percentOfLosses{
        transform: scale(0.7);
    }

    .holdings-percentOfLosses-wrapper{
        padding: 0 8px 0 8px;
        background-color: rgba(255, 116, 116, 0.692);
        border-radius: 8px;
        color: rgb(255, 255, 255);
    }

    .holdings-final-row td{
        font-weight: bold;
    }

    /*
    .log-row td{
        padding: 0 12px 0 12px;
    }

    .topupwithdraw-row td{
        padding: 0 12px 0 12px;
    }

    .buysell-row td{
        padding: 0 12px 0 12px;
    }
    */
    .dataTable-row td{
        padding: 0 12px 0 12px;
    }
}

/* For Desktop */
@media only screen and (min-width: 768px) {
    tbody td{
        padding: 0 20px 0 20px;
    }
    
    .holdings-row td{
        font-size: 15px;
        padding: 12px;
    }

    .holdings-table-headers th{
        padding: 0 20px 0 20px;
        font-weight: bold;
        font-size: 10px;
        background-color: rgb(32, 32, 32);
    }
    
    .holdings-distribution-wrapper{
        padding: 0 10px 0 10px;
        background-color: rgb(56, 56, 56);
        border-radius: 8px;
    }
    
    .holdings-percentOfGains-wrapper{
        padding: 0 10px 0 10px;
        background-color: rgba(116, 255, 162, 0.692);
        border-radius: 8px;
        color: rgb(255, 255, 255);
    }
    
    .holdings-percentOfLosses-wrapper{
        padding: 0 8px 0 8px;
        background-color: rgba(255, 116, 116, 0.692);
        border-radius: 8px;
        color: rgb(255, 255, 255);
    }
    
    .holdings-final-row td{
        padding: 12px;
        font-weight: bold;
    }
}

.Date-topup-withdraw{
    /* color: lime; */
    padding: 0 30px 0 30px; /* Very hacky */
}

.Topup{
    color: yellow;
}

.Buy{
    color: lime;
}

.Sell{
    color: rgb(255, 111, 154);
}

.Withdraw{
    color: cyan;
}

.Dividend{
    color: dodgerblue;
}

.Fee{
    color: red;
}

.FX{
    color: rgb(255, 205, 129);
}

.OpenNotes:hover{
    cursor: pointer;
    color: white;
    border-right: 1px solid rgba(255, 36, 102);
}

.AddLogBtn-wrapper{
    margin: 20px;
}