.Home{ 
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.Header{
    
}

.Add{
    padding: 10px;
    border: 1px solid white;
}