.Nav{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.wrapper{
    display: grid;
    grid-template-columns: 15vw 60vw 15vw;
}

.Title{
    
}

.hamburger{
    
    transition: transform 0.25s linear;
}