.Nav{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 15vw 40vw 15vw;
}

.Title{

}

.hamburger{
    
    transition: transform 0.25s linear;
}