/* Common */
.Tab{
    display: inline;
}

.Tab-inner-highlighted{
    border-bottom: 2px solid white;
    color: rgb(255, 36, 102);
}

.Tab:Hover{
    cursor: pointer;
    color: rgb(255, 36, 102);
}

/* For Mobile */
@media only screen and (max-width: 768px) {
    .Ribbon{
        width: 100%;
        white-space: nowrap;
        margin: 12px;
    }

    .Tabs{
        margin: 12px;
        padding: 12px 0 12px 0;
        overflow: auto;
        border: 1px solid rgba(255, 36, 102, 0.275);
        border-radius: 4px;
    }

    .Tab{
        padding: 0 12px 0 12px;
    }
}

/* For Desktop */
@media only screen and (min-width: 768px) {
    .Tab{
        display: inline;
        list-style: none;
        text-align: left;
        padding: 4px 16px 4px 16px;
    }
}