.Ribbon{
    
}

.Tabs{
    
}

/* Common */
.Tab{
    list-style: none;
    text-align: left;
    padding: 4px 16px 4px 16px;
}

.Tab:Hover{
    cursor: pointer;
    color: rgb(255, 36, 102);
}

/* For Mobile */
@media only screen and (max-width: 768px) {
    .Tab-inner{
        padding-left: 10px;
    }
    
    .Tab-inner-highlighted{
        border-left: 2px solid white;
        color: rgb(255, 36, 102);
    }
}

/* For Desktop */
@media only screen and (min-width: 768px) {
    .Tab{
        display: inline;
    }

    .Tab-inner{

    }

    .Tab-inner-highlighted{
        border-bottom: 2px solid white;
        color: rgb(255, 36, 102);
    }
}