.SelectAddType{
    
}

.SelectAddType-ul{
    list-style: none;
    text-align: left;
}

.SelectAddType-li{
    padding: 8px;
}

.AddTopup-li:hover{
    color: yellow;
}

.AddWithdraw-li:hover{
    color: cyan;
}

.AddFX-li:hover{
    color: orange;
}

.AddBuy-li:hover{
    color: lime;
}

.AddSell-li:hover{
    color: rgb(255, 111, 154);
}

.AddDividend-li:hover{
    color: dodgerblue;
}

.AddFee-li:hover{
    color: red;
}