.App {
  background-color: #111111;
  color: rgb(221, 221, 221);
  font-size: calc(10px + 1.1vmin);
  font-family: 'Kanit', sans-serif;
}

.Screen{
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
  outline: none;
}

a{
  text-decoration: none;
  color: rgb(212, 212, 212);
}

.BrokerName{
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 207, 103);
}