.App {
  background-color: #111111;
  color: rgb(212, 212, 212);
  font-size: calc(10px + 1.5vmin);
  font-family: 'Kanit', sans-serif;
}

button{
  outline: none;
}

a{
  text-decoration: none;
  color: rgb(212, 212, 212);
}